<script src="/static/jquery.js"></script>


<div class="sidebar" id="sidebar">
  
  <a href="/">Startseite</a>
  <a href="/Mein_Portfolio">Mein Portfolio</a>
  <a href="/Transaktionen">Transaktionen</a>

  				<a href="/logout" class="w-full block text-center bg-red-600 hover:bg-red-500 py-2 rounded transition text-white">🚪 Logout</a>

</div>

<button class="toggle-btn" id="toggleBtn">&#9776;</button>

<script>
  const sidebar = document.getElementById('sidebar');
  const toggleBtn = document.getElementById('toggleBtn');

  toggleBtn.addEventListener('click', () => {
    sidebar.classList.toggle('collapsed');
  });
</script>
