<script src="/static/jquery.js"></script>
<script src="/static/main.js"></script>

<div class="sidebar" id="sidebar">
  <a href="/" class>🪙 CoinTracker </a>
  <a href="/Mein_Portfolio">Mein Portfolio</a>
  <a href="/Transaktionen">Transaktionen</a>
  <button id="buy_btn" class="btn-kaufen">Coin kaufen</button>
  <button id="sell_btn" class="btn-verkaufen">Coin verkaufen</button>
  <br> <br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br><br> <br><br>

  <a href="/logout" class="w-full block text-center bg-red-600 hover:bg-red-500 py-2 rounded transition text-white">🚪
    Logout</a>
  {% if is_admin %}
  <a href="/admin" class="w-full block text-center bg-blue-700 hover:bg-blue-600 py-2 rounded transition text-white">🛠️
    Admin</a>
  {% endif %}
</div>

<button class="toggle-btn" id="toggleBtn">&#9776;</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById("form_id");
    const sellForm = document.getElementById("sell_form_id");
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('toggleBtn');

    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('collapsed');

      if (form) {
        form.reset();
        form.style.display = 'none';
      }

      if (sellForm) {
        sellForm.reset();
        sellForm.style.display = 'none';
      }
    });
  });
</script>
