<!-- Transaktionen.html -->
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <title>Kaufhistorie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% include 'sidebar.html' %}
  {% include 'kauf_verkauf.html' %}
</head>

<body>
  <div class="main-content">

    <div class="background"></div>
    <h1>Kaufhistorie</h1>

    <table id="kaeufeTable">
      <thead>
        <tr>
          <th>Kauf/Verkaufdatum</th>
          <th>Aktion</th> <!-- NEU -->
          <th>Coin</th>
          <th>Anzahl</th>
          <th>Einkauf/Verkaufspreis (€)</th>
          <th>Differenz (€)</th>
          <th>Kommentar</th>

        </tr>
      </thead>
      <tbody>
        {% for eintrag in kaeufe %}
        <tr>
          <td>{{ eintrag.kaufdatum.strftime('%d.%m.%Y') }}</td>
          <td>{{ eintrag.aktion }}</td>
          <td>{{ eintrag.coin }}</td>
          <td>{{ eintrag.anzahl }}</td>
          <td>{{ "{:.2f}".format(eintrag.preis) }}</td>
          <td>
            {% if eintrag.differenz is not none %}
            {{ "{:.2f}".format(eintrag.differenz) }}
            {% else %}
            -
            {% endif %}
          </td>
          <td>{{ eintrag.kommentar or '-' }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="7">Keine Käufe vorhanden.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  </div>
  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>